*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer h1{
    font-size: 5em;
}
.timer button{
    padding: 5px 15px;
    font-size: 1.5em;
    cursor: pointer;
}